include ./components/head.pug
include ./components/navbar.pug

-
    var pageElements = [
        { img: "/media/select.png", title: "Lekérdezés", des: "Az oldalon lehetősége van a felhasználónak az adatbázisban található táblázatok között váltogatnia. Mindemellett az oldal tartalmaz egy keresőmenüt, ami real-time, azaz minden egyes karakter után megjeleníti a felhasználóknak a lehetséges elemeket a táblázaton belül. A header részbe beépítettem egy rendezést, mely ascendig vagy descendig, azaz csökkenő és növekvő módon rendez. Ennek a rendezésnek a sebessége az adatok mennyiségétől függ." },
        { img: "/media/insert.png", title: "Új rekord", des: "A felhasználónak lehetősége nyílik rá, hogy kiválaszza a táblázatot, majd új értékeket adjon hozzá. Új érték hozzáadása után a felhasználót az oldal értesíti a sikerességről, illetve ha hiba történt a rendszerben" },
        { img: "/media/update.png", title: "Rekord frissítése", des: "A felhasználónak lehetősége nyílik a táblázat értékeinek frssítésére, melyet egy mentés gombbal frissíthet a rendszerben" },
        { img: "/media/delete.png", title: "Rekord törlése", des: "A felhasználónak lehetősége nyílik rá, hogy a táblázatot, illetve annak sorait törölhesse" }
    ]

.section.mt-5
    .container
        h1.text-center Webprogramramozás II. Különbözeti Vizsga

    .container
        h4.text-center.mt-5 Projektem
        each page, idx in pageElements
            if idx % 2 == 0
                .row.mt-5 
                    .col-6
                        img(src=page.img, alt=page.title)
                    .col-6
                        h4= page.title
                        p= page.des
            else 
                .row.mt-5
                    .col-6
                        h4= page.title
                        p= page.des
                    .col-6
                        img(src=page.img, alt=page.title)
